@use "./breakpoints";
@use "./fonts";
@use "./reset";
@use "./modal";
@use "./components";
@use "./ico";
@use "./jquery.fullPage";
@use "./swiper";
@use "./gnb";

#fullpage {
	backface-visibility: hidden;
	perspective: 1000px;
}

.fullpage-wrapper {
	.only {
		&--pc {
			display: block;
		}

		&--mobile {
			display: none;
		}
	}
	@include breakpoints.xl {
		.only {
			&--pc {
				display: none;
			}

			&--mobile {
				display: block;
			}
		}
	}
}

.main {
	.contents {
		overflow-x: hidden;
		padding-top: 150px;

		.wraping {
			&:not(:first-child) {
				margin-top: 150px;
			}

			&.pcwide {
				max-width: none;

				&__heaed {
					margin: 0 auto;
					max-width: 1640px;
				}
			}
		}
	}

	@include breakpoints.xl {
		.contents {
			padding-top: 80px;

			.wraping {
				&:not(:first-child) {
					margin-top: 80px;
				}

				&.mobilewide {
					margin-left: -20px;
					margin-right: -20px;
				}
			}
		}
	}
}

.glance {
	.modal {
		&__container {
			max-height: 95vh;
		}
	}

	&__scroll {
		margin: 80px -70px 0;
		overflow: hidden;

		.glance {
			&__list {
				overflow-x: scroll;
				padding: 0 70px;
			}

			&__item {
				flex: none;
				grid-template-columns: 50% 1fr;
				max-width: 1008px;

				.roundBox {
					aspect-ratio: 1;
				}
			}

			&__contents {
				position: relative;
			}

			&__year {
				margin-left: -160px;
			}
		}
	}

	&__list {
		column-gap: 140px;
		display: flex;
	}

	&__item {
		align-items: flex-end;
		column-gap: 60px;
		display: grid;
		grid-template-columns: 50.88% 1fr;

		.roundBox {
			img {
				height: 100%;
				width: 100%;
			}
		}
	}

	&__year {
		color: rgb(0 0 0 / 10%);
		font-size: 120px;
		font-weight: 800;
	}

	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.25;
	}

	&__desc {
		line-height: 1.625;
		margin-top: 20px;
	}
	@include breakpoints.xl {
		.modal {
			&__overlay {
				padding: 0;
			}

			&__container {
				clip-path: none;
				height: 100%;
				max-height: 100vh;
			}

			&__contents {
				height: 100%;
				overflow-y: scroll;
				padding: 76px 20px;
			}

			&__title {
				font-size: 24px;
				line-height: 1.6;
			}

			&__desc {
				font-size: 16px;

				&:not(:first-child) {
					margin-top: 12px;
				}
			}

			&__close {
				background: #f0f0f0;
				height: 36px;
				right: 20px;
				top: 20px;
				width: 36px;

				&::before,
				&::after {
					background: #666;
				}
			}
		}

		.glance {
			&__scroll {
				margin: 60px 0 0;
			}

			&__list {
				display: block;
				padding: 0;
			}

			&__item {
				&:not(:first-child) {
					margin-top: 60px;
				}

				display: block;
			}

			&__year {
				font-size: 60px;
				margin: -30px 0 0;
				text-align: right;
			}
		}

		&.archive {
			.modal {
				&__overlay {
					padding: 0 20px;
				}

				&__container {
					background: #8dc63f;
					clip-path: inset(0 round 20px);
					color: #fff;
					height: 50%;
					max-height: none;
				}

				&__contents {
					padding: 28px;
				}

				&__title {
					font-size: 20px;
					line-height: 1;
					margin-bottom: 15px;
				}

				&__year {
					bottom: 16px;
					color: rgb(255 255 255 / 30%);
					font-size: 70px;
					font-weight: 800;
					position: absolute;
					right: 16px;
				}

				&__close {
					background: #000;
					bottom: calc(25% - 74px);
					height: 60px;
					right: calc(50% - 30px);
					top: initial;
					width: 60px;

					&::before,
					&::after {
						background: #fff;
						height: 20px;
					}
				}
			}

			.bullet {
				&__item {
					line-height: 1.6;
					padding-left: 10px;
					position: relative;

					&::before {
						background: #fff;
						border-radius: 2px;
						height: 4px;
						left: 0;
						top: 13px;
						width: 4px;
					}
				}
			}
		}
	}
}

.award {
	$white: #fff;

	&__title {
		font-size: 26px;
		font-weight: 800;
		margin-bottom: 28px;
	}

	&__desc {
		line-height: 1.625;
	}

	&__item {
		display: grid;
		grid-template-columns: 77px 1fr;
		line-height: 1.875;
	}

	.tab {
		&__panel {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			height: 720px;
			overflow-y: auto;
			padding: 60px 80px 55px;
			position: relative;

			@for $i from 1 through 7 {
				&:nth-child(#{$i}) {
					background-image: url("../images/bg_award0#{$i}.jpg");
				}
			}

			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				color: $white;
			}

			&:nth-child(7) {
				background-image: linear-gradient(101.17deg, rgb(0 0 0 / 45%) 36.79%, rgb(0 0 0 / 0%) 56.45%), url("../images/bg_award07.jpg");
			}

			.scroll-element {
				height: 100%;
				overflow-y: auto;

				&::-webkit-scrollbar {
					background-color: transparent;
					width: 8px;
				}

				/* background of the scrollbar except button or resizer */
				&::-webkit-scrollbar-track {
					background-color: transparent;
				}

				&::-webkit-scrollbar-track:hover {
					background-color: #f4f4f4;
				}

				/* scrollbar itself */
				&::-webkit-scrollbar-thumb {
					background-color: #babac0;
					border-radius: 8px;
				}

				/* set button(top and bottom of the scrollbar) */
				&::-webkit-scrollbar-button {
					display: none;
				}
			}

			.bullet {
				&__item {
					padding-left: 10px;
					position: relative;

					&--square {
						&::before {
							background-color: $white;
							height: 2px;
							left: 0;
							top: 13px;
							width: 2px;
						}
					}
				}
			}
		}

		.roundBox {
			clip-path: inset(0 round 28px);
		}
	}

	@include breakpoints.xl {
		.tab {
			&__list {
				column-gap: 0;
				justify-content: flex-start;
				overflow-x: auto;
				transform: translateX(0);
				white-space: nowrap;
				width: 100%;
			}

			&__button {
				flex: none;
				font-size: 15px;

				&:not(:first-child) {
					margin-left: 20px;
				}
			}

			&__panel {
				height: 680px;
				padding: 32px 20px 20px;

				@for $i from 1 through 7 {
					&:nth-child(#{$i}) {
						background-image: url("../images/bg_mo_award0#{$i}.jpg");
					}
				}

				&:nth-child(3) {
					color: #fff;
				}

				&:nth-child(7) {
					background-image: linear-gradient(0.1deg, rgb(0 0 0 / 0%) 39.04%, rgb(0 0 0 / 60%) 90.62%), url("../images/bg_mo_award07.jpg");
				}
			}
		}

		&__title {
			font-size: 16px;
			margin-bottom: 20px;
		}

		&__desc {
			font-size: 14px;
		}

		&__item {
			font-size: 14px;
			grid-template-columns: 58px 1fr;
			line-height: 1.6;
		}

		.bullet {
			&__item {
				line-height: 1.6;

				&--square {
					&::before {
						top: 9px;
					}
				}
			}
		}
	}
}

.prologue {
	&__more {
		column-gap: 20px;
		display: flex;
		margin-top: 20px;

		.prologue {
			&__button {
				align-items: center;
				background-color: #f5f5f5;
				column-gap: 16px;
				display: flex;
				flex: 1;
				font-size: 24px;
				padding: 40px 50px;
				text-align: left;

				span {
					align-items: center;
					background-color: #fff;
					border-radius: 100%;
					display: flex;
					height: 50px;
					justify-content: center;
					margin-left: auto;
					width: 50px;
				}
			}
		}

		.roundBox {
			clip-path: inset(0 round 40px);
		}
	}
	@include breakpoints.xl {
		padding: 0 20px;

		&__more {
			flex-direction: column;

			.prologue {
				&__button {
					font-size: 16px;
					padding: 28px 20px;

					.ico__50x50 {
						height: 32px;
						width: 32px;
					}

					span {
						height: 30px;
						width: 30px;

						.ico__10x16 {
							height: 10px;
							width: 7px;
						}
					}
				}

				&__button:not(:first-child) {
					margin-top: 8px;
				}
			}

			.roundBox {
				clip-path: inset(0 round 12px);
			}
		}
	}
}

.kv {
	&__container {
		background: linear-gradient(180deg, rgb(27 33 31 / 0%) 63.61%, #042d22 94.4%);
		color: #fff;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: flex-end;
		padding: 0 93.5px 46px;
		position: relative;
	}

	&__video {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;

		video {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&__title {
		align-items: center;
		display: grid;
		font-size: 7.19vw;
		font-weight: 800;
		gap: 16px 18.59%;
		grid-template-columns: repeat(2, auto);
		letter-spacing: -0.04em;
		position: relative;

		.kv {
			&__text {
				font-size: 1.88vw;
				grid-column: 1 / 3;
				letter-spacing: 0;
			}
		}

		.anniversary {
			bottom: -1.38vw;
			height: 14.58vw;
			left: 38.92%;
			position: absolute;
			width: 14.58vw;
		}
	}

	@include breakpoints.xl {
		&__container {
			padding: 0 20px 50px;
		}

		&__title {
			align-items: flex-start;
			font-size: 8.35vw;
			font-weight: 800;
			gap: 0 3.33vw;
			grid-template-columns: auto 1fr;

			.kv {
				&__text {
					font-size: 6.66vw;
					font-weight: 700;
					margin-bottom: 3.33vw;
				}
			}

			span {
				&:nth-child(2),
				&:nth-child(4) {
					grid-column: 2 / 3;
				}

				&:nth-child(2) {
					margin-top: auto;
				}

				&:nth-child(4) {
					margin-bottom: auto;
				}
			}

			.anniversary {
				grid-row: 2 / 4;
				height: 26.67vw;
				position: static;
				width: 26.67vw;
			}
		}
	}
}

.intro {
	background-color: #042d22;
	margin-top: -2px;

	&--start {
		.intro {
			&__legend {
				margin-top: -160px;
				transform: scale(0.403);
			}

			&__logo {
				margin-top: -160px;
				transform: translate(calc(-50% + 40px), -78px) scale(0.2634);
			}

			&__text {
				opacity: 1;
				transform: translateY(-100px);
			}
		}
	}

	&__container {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

	&__figure {
		align-items: flex-end;
		display: flex;
		position: relative;
	}

	&__legend {
		height: 540px;
		position: relative;
		transform: scale(1);
		transition: all 600ms ease-in-out;
		width: 531px;
		z-index: 1;

		img {
			height: 100%;
			width: 100%;
		}
	}

	&__logo {
		background: url("../images/logo_old.svg") no-repeat 0 0 / 100% 100%;
		height: 230px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		transition: all 600ms ease-in-out;
		width: 91.35vw;
	}

	&__text {
		color: #fff;
		font-size: 62px;
		line-height: 1.8;
		opacity: 0;
		text-align: center;
		transform: translateY(326px);
		transition-duration: 600ms;
		transition-property: transform, opacity;
		transition-timing-function: ease-in-out;

		.intro {
			&__ico {
				// background-position: 0 0;
				// background-repeat: no-repeat;
				// background-size: 100% 100%;
				display: inline-flex;

				&--farm {
					// background-image: url("../images/farm.svg");
					height: 93px;
					margin-top: -1px;
					vertical-align: top;
					width: 104px;
				}

				&--logo {
					// background-color: #8dc63f;
					// border-radius: 100vw;
					height: 91px;
					margin-top: -1px;
					position: relative;
					vertical-align: middle;

					// width: 213px;

					// &::before {
					// 	background-color: #fff;
					// 	content: "";
					// 	display: block;
					// 	height: 24px;
					// 	left: 50%;
					// 	margin: -12px 0 0 -84px;
					// 	mask: url("../images/logo_old.svg") no-repeat 0 0 / 100% 100%;
					// 	position: absolute;
					// 	top: 0;
					// 	top: 50%;
					// 	width: 168px;
					// }
				}

				&--heart {
					// background-image: url("../images/heart.svg");
					height: 92px;
					margin-top: 10px;
					vertical-align: top;
					width: 99px;
				}

				&--life {
					// background-image: url("../images/life.svg");
					height: 93px;
					margin-top: 10px;
					vertical-align: top;
					width: 98px;
				}
			}
		}

		lottie-player {
			display: block;
			height: 100%;
			width: 100%;
		}

		span:not([class*="__ico"]),
		em {
			vertical-align: middle;
		}

		em {
			font-weight: 800;
		}
	}

	@include breakpoints.xl {
		&--start {
			.intro {
				&__legend {
					margin-left: -40px;
					margin-top: -80px;
					transform: scale(0.6);
				}

				&__logo {
					margin-top: -80px;
					transform: translate(-50%, -48px) scale(0.6);
				}

				&__text {
					padding: 0 5px;
					transform: translateY(0);
				}
			}
		}

		&__legend {
			height: 270px;
			width: 265px;
		}

		&__logo {
			height: 43px;
			width: 88.33vw;
		}

		&__text {
			font-size: 22px;
			padding: 0 19px;
		}

		.intro {
			&__ico {
				&--farm {
					height: 37px;
					width: 42px;
				}

				&--logo {
					height: 28px;
					width: 66px;

					&::before {
						height: 7px;
						margin: -2px 0 0 -29px;
						width: 56px;
					}
				}

				&--heart {
					height: 32px;
					margin-top: 5px;
					width: 34px;
				}

				&--life {
					height: 37px;
					margin-top: 3px;
					width: 39px;
				}
			}
		}
	}
}

.history {
	background-color: #042d22;
	margin-top: -2px;
	position: relative;

	&.active {
		&::before {
			background-color: #042d22;
			bottom: -2px;
			content: "";
			display: block;
			height: 2px;
			left: 0;
			position: absolute;
			right: 0;
			z-index: 5;
		}
	}

	&__container {
		align-items: center;
		color: #fff;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		text-align: center;

		.trees {
			div {
				background-color: #2cd073;
				mask: url("../images/tree.svg") no-repeat 0 0 / 100% 100%;
				position: absolute;
				z-index: -1;

				&:nth-child(1) {
					bottom: -28px;
					height: 467px;
					left: -81px;
					width: 365px;
				}

				&:nth-child(2) {
					background: url("../images/tree.svg") no-repeat 0 0 / 100% 100%;
					bottom: -28px;
					height: 317px;
					left: 208px;
					mask: none;
					width: 247px;
				}

				&:nth-child(3) {
					bottom: -50px;
					height: 686px;
					right: 30px;
					width: 535px;
				}
			}
		}
	}

	&__title {
		font-size: 70px;
		position: relative;

		&::before {
			background: url("../images/marking.svg") no-repeat 0 0 / 100% 100%;
			content: "";
			display: block;
			height: 138.33px;
			left: 240.05px;
			position: absolute;
			top: calc(50% + 3.06px);
			transform: translateY(-50%);
			width: 452.19px;
		}

		span {
			font-weight: 800;
		}
	}

	&__desc {
		font-size: 18px;
		line-height: 1.6;
		margin-top: 28px;
	}

	.board {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 40px 40px 50px;

		&.roundBox {
			clip-path: inset(0 round 40px);
		}

		.figure {
			background-color: #f2f2f2;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			flex: 1;
			margin-bottom: 36px;
			max-height: 600px;
			position: relative;

			&.roundBox {
				clip-path: inset(0 round 28px);
			}

			.img {
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			video {
				border-radius: 28px;
				height: 100%;
				object-fit: cover;
				overflow: hidden;
				width: 100%;
				@include breakpoints.xl {
					margin: 0 auto;
					width: auto;
				}
			}
		}

		.headline {
			color: #6dad49;
			font-size: 16px;
			font-weight: 700;
			line-height: 1.875;
			margin-bottom: 4px;
		}

		.title {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.25;
		}

		.desc {
			font-size: 16px;
			line-height: 1.625;
			margin-top: 40px;
		}
	}

	.slide {
		position: relative;

		.fp-tableCell {
			display: block;
		}
	}

	.swiper {
		height: 100%;
		padding: 30px 20px;

		// padding-top: 7%;
		// padding-bottom: 7%;

		&-slide {
			max-width: 890px;

			@media screen and (width >= 1280px) and (height <= 1000px) {
				max-width: calc(33.3333% - 20px);

				.board {
					padding: 30px 40px 40px;

					.headline {
						font-size: 14px;
					}

					.title {
						font-size: 16px;
					}

					.desc {
						font-size: 13px;
					}
				}
			}
			@media screen and (width >= 1280px) and (height <= 800px) {
				.board {
					.headline {
						font-size: 13px;
					}

					.title {
						font-size: 14px;
					}

					.desc {
						font-size: 12px;
					}
				}
			}

			&:nth-child(even) {
				display: flex;
				flex-direction: column;
				row-gap: 20px;

				.board {
					column-gap: 40px;
					display: grid;
					flex: 1;

					@media screen and (width >= 1280px) {
						grid-template-columns: repeat(2, 1fr);
						grid-template-rows: auto auto 1fr;

						&:nth-child(2) {
							.figure {
								grid-column: 2 / 3;
							}
						}

						.figure {
							grid-row: 1 / 4;
							margin-bottom: 0;
							max-height: none;
						}

						.desc {
							margin-top: auto;
						}
					}
				}
			}

			&:nth-child(1) {
				.board {
					.figure {
						video {
							height: auto;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}

			&:nth-child(2) {
				.board {
					&:nth-child(1) {
						.figure {
							background-image: url("../images/img_history_slide02_01.jpg");

							@include breakpoints.xl {
								background-position: center top;
							}
						}
					}

					&:nth-child(2) {
						.figure {
							background-image: url("../images/img_history_slide02_02.jpg");
						}
					}
				}
			}

			&:nth-child(3) {
				.board {
					.figure {
						background-image: url("../images/img_history_slide03.jpg");
					}
				}
			}

			&:nth-child(4) {
				.board {
					&:nth-child(1) {
						.figure {
							background-image: url("../images/img_history_slide04_01.jpg");
						}
					}

					// &:nth-child(2) {
					// 	.figure {
					// 		.img {
					// 			height: 98px;
					// 			width: 277px;
					// 		}
					// 	}
					// }
				}
			}

			&:nth-child(5) {
				.board {
					.figure {
						background-image: url("../images/img_history_slide05.jpg");
					}
				}
			}

			&:nth-child(6) {
				.board {
					&:nth-child(1) {
						.figure {
							background-color: #deebff;

							video {
								height: auto;
								object-fit: contain;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}

					&:nth-child(2) {
						.figure {
							background-image: url("../images/img_history_slide06_02.jpg");
							background-size: contain;
						}
					}
				}
			}

			&:nth-child(7) {
				.board {
					&:nth-child(1) {
						.figure {
							video {
								height: auto;
								object-fit: contain;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}
				}
			}

			&:nth-child(8) {
				.board {
					&:nth-child(2) {
						.figure {
							background-image: url("../images/img_history_slide08_02.jpg");
						}
					}
				}
			}

			// &:nth-child(9) {
			// 	.board {
			// 		.figure {
			// 			.img {
			// 				height: 259px;
			// 				width: 582px;
			// 			}
			// 		}
			// 	}
			// }

			&:nth-child(10) {
				.board {
					&:nth-child(1) {
						.figure {
							background-color: #f1f8e9;
							background-image: url("../images/img_history_slide10_01.jpg");
							background-size: contain;
						}
					}

					&:nth-child(2) {
						.figure {
							background-image: url("../images/img_history_slide10_02.jpg");
						}
					}
				}
			}

			&:nth-child(11) {
				.board {
					.figure {
						background-image: url("../images/img_history_slide11.jpg");
					}
				}
			}

			&:nth-child(12) {
				.board {
					&:nth-child(1) {
						.figure {
							background-image: url("../images/img_history_slide12_01.jpg");
						}
					}

					&:nth-child(2) {
						.figure {
							background-color: #f1f8e9;

							video {
								height: auto;
								object-fit: contain;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}
				}
			}

			&:nth-child(13) {
				.board {
					.figure {
						background-image: url("../images/img_history_slide13.jpg");
					}
				}
			}

			&:nth-child(14) {
				.board {
					&:nth-child(1) {
						.figure {
							video {
								height: auto;
								left: 50%;
								position: absolute;
								top: 50%;
								transform: translate(-50%, -50%);
								@include breakpoints.xl {
									height: 100%;
								}
							}
						}
					}

					&:nth-child(2) {
						.figure {
							background-image: url("../images/img_history_slide14_02.jpg");
							@include breakpoints.xl {
								background-size: contain;
							}
						}
					}
				}
			}

			&:nth-child(15) {
				.board {
					.figure {
						background-image: url("../images/img_history_slide15.jpg");
					}
				}
			}

			&:nth-child(16) {
				.board {
					&:nth-child(1) {
						.figure {
							background-color: #d1eed9;
							background-image: url("../images/img_history_slide16_01.jpg");
							background-size: contain;
						}
					}
				}
			}
		}
	}

	@include breakpoints.xl {
		&__title {
			font-size: 32px;

			&::before {
				height: 64px;
				left: 112px;
				top: calc(50% - 1.94px);
				width: 209px;
			}
		}

		&__desc {
			font-size: 14px;
			padding: 0 20px;
		}

		&__container {
			.trees {
				div {
					&:nth-child(1) {
						bottom: 0;
						height: 129px;
						left: 0;
						width: 100px;
					}

					&:nth-child(2) {
						bottom: 0;
						height: 88px;
						left: 80px;
						width: 67px;
					}

					&:nth-child(3) {
						bottom: 0;
						height: 202px;
						right: 0;
						width: 158px;
					}
				}
			}
		}

		.board {
			display: grid;
			grid-template-rows: 210px auto auto 1fr;
			padding: 20px 20px 28px;
			width: 320px;

			&.roundBox {
				clip-path: inset(0 round 20px);
			}

			.figure {
				margin-bottom: 24px;
				max-height: 210px;

				&.roundBox {
					clip-path: inset(0 round 12px);
				}
			}

			.headline {
				font-size: 12px;
				line-height: 1.3333;
				margin-bottom: 8px;
			}

			.title {
				font-size: 16px;
			}

			.desc {
				font-size: 14px;
				line-height: 1.58;
				margin-top: 20px;
				overflow: hidden;
			}
		}

		.swiper {
			padding: 30px 20px;

			&-slide {
				width: auto;

				&:nth-child(even) {
					column-gap: 20px;
					flex-direction: row;
				}
			}
		}
	}
}

.growth {
	$white: #fff;

	&__list {
		display: grid;
		grid-gap: 20px;
		grid-template: "sales rnd" "sales person" "fund person";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1.6fr 1fr;
	}

	&__item {
		border-radius: 40px;
		box-sizing: border-box;
		position: relative;

		&:nth-child(1) {
			grid-area: sales;

			.growth__video {
				&--pc {
					z-index: -1;
				}
			}
		}

		&:nth-child(2) {
			background-color: #f78806;
			grid-area: rnd;
		}

		&:nth-child(3) {
			background-color: #0694f7;
			grid-area: fund;
		}

		&:nth-child(2),
		&:nth-child(3) {
			padding-bottom: 35.44%;

			.growth {
				&__textbox {
					padding: 0 0 0 41%;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		&:nth-child(4) {
			grid-area: person;

			.growth__video {
				&--pc {
					z-index: -1;
				}
			}
		}
	}

	&__textbox {
		left: 0;
		padding: 7.5%;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&__title {
		color: $white;
		font-size: 24px;
		font-weight: 700;
	}

	&__decs {
		color: $white;
		margin-top: 4px;
	}

	&__emphasis {
		color: $white;
		font-size: 40px;
		font-weight: 700;
		margin-top: 12px;

		strong {
			font-size: 80px;
			font-weight: 800;
		}
	}

	&__image {
		&--left {
			border-radius: 40px 0 0 40px;
			bottom: 0;
			height: 100%;
			left: 0;
			max-width: 41%;
			position: absolute;
		}
	}

	&__video {
		&--pc {
			height: 100%;
			width: 100%;

			video {
				border-radius: 40px;
			}
		}

		&--mobile {
			display: none;
		}
	}
	@include breakpoints.xl {
		&__list {
			column-gap: 8px;
			display: flex;
			flex: 1;
			justify-content: left;
			overflow-x: scroll;
			padding-left: 20px;
			padding-right: 20px;
		}

		&__item {
			border-radius: 20px;
			flex: none;
			padding: 0;
			position: relative;
			width: calc(100% - 40px);

			&:nth-child(2),
			&:nth-child(3) {
				padding: 0;

				.growth {
					&__textbox {
						padding: 28px;
						top: 0;
						transform: none;
					}
				}
			}
		}

		&__textbox {
			left: 0;
			padding: 28px;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&__title {
			font-size: 16px;
		}

		&__decs {
			font-size: 14px;
		}

		&__emphasis {
			font-size: 32px;

			strong {
				font-size: 48px;
			}
		}

		&__image {
			margin-top: 30px;
			max-height: 312px;
			width: 100%;

			&--left {
				aspect-ratio: initial;
				position: static;
				width: 100%;
			}
		}

		&__video {
			&--pc {
				display: none;
			}

			&--mobile {
				display: block;

				video {
					border-radius: 20px;
					width: 100%;
				}
			}
		}
	}
}

.archive {
	&__mobileBox {
		display: none;
	}

	&__swiper {
		&:not(:first-child) {
			margin-top: 20px;
		}

		.swiper {
			&-wrapper {
				transform: translate3d(300px, 0, 0);
				transition-timing-function: linear !important;
			}

			&-horizontal {
				touch-action: none;
			}

			&-slide {
				cursor: pointer;
				height: 304px;
				margin: 0 10px;
				position: relative;
				transition: transform 0.3s;
				width: 304px;

				img {
					height: 100%;
					width: 100%;
				}

				&:hover {
					.swiperLayer {
						background: #77d326;
						color: #fff;
						display: block;
						height: 100%;
						left: 0;
						padding: 40px 24px 24px;
						position: absolute;
						text-align: left;
						top: 0;
						width: 100%;

						&__title {
							font-size: 20px;
							font-weight: 800;
							line-height: 1;
							margin-bottom: 15px;
						}

						&__decs {
							line-height: 1.6;
						}

						&__decsList {
							font-size: 16px;
							line-height: 1.6;
						}

						&__item {
							padding-left: 10px;
							position: relative;

							&::after {
								background-color: #fff;
								border-radius: 2px;
								content: "";
								display: block;
								height: 4px;
								left: 0;
								position: absolute;
								top: 10px;
								width: 4px;
							}
						}

						&__year {
							bottom: 24px;
							color: rgb(255 255 255 / 30%);
							font-size: 70px;
							font-weight: 800;
							letter-spacing: -0.05em;
							line-height: 1;
							position: absolute;
							right: 24px;
							width: 164px;
						}
					}
				}
			}
		}

		.roundBox {
			clip-path: inset(0 round 32px);
		}
	}

	@include breakpoints.xl {
		&__pcBox {
			display: none;
		}

		&__mobileBox {
			display: block;
		}

		&__product {
			display: grid;
			grid-gap: 4px;
			grid-template-columns: 1fr 1fr 1fr;
		}

		&__list {
			display: none;

			&:nth-child(-n + 6) {
				display: block;
			}
		}

		&__btn {
			align-items: center;
			border-radius: 12px;
			display: flex;
			justify-content: center;
			text-align: center;
		}

		&__img {
			aspect-ratio: 1 / 1;
			border-radius: 12px;
			display: inline-block;
		}

		&__btnBox {
			margin-top: 16px;
			text-align: center;
		}

		.btn--white {
			border-radius: 12px;
			width: 100%;
		}
	}
}

.btn {
	border-radius: 100px;
	color: #fff;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	width: 165px;

	&--black {
		background: #000;
	}

	&--white {
		border: 1px solid #ddd;
		color: #666;
	}
}

.youtube {
	&__box {
		padding-bottom: 56.21%;
		position: relative;
	}

	&__position {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&.modal {
		display: block;

		.youtube {
			&__box {
				display: block;
				margin: 0 auto;
				max-width: 1200px;
			}
		}
	}
	@include breakpoints.xl {
		&.modal {
			margin-top: 40px;
		}
	}
}

.copy {
	align-items: center;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	height: 192px;
	justify-content: center;
	max-width: 100%;
	width: 100%;

	> div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1640px;
		row-gap: 20px;

		img {
			margin: 0 auto;
			max-width: 117px;
		}

		p {
			line-height: 1.2;
		}
	}

	@include breakpoints.xl {
		height: 104px;

		> div {
			row-gap: 16px;

			img {
				width: 75px;
			}

			p {
				letter-spacing: -0.05em;
			}
		}
	}
}
