@use "./breakpoints";
@use "./fonts";
@use "./reset";
@use "./modal";
@use "./components";
@use "./ico";
// @use "./jquery.fullPage";
@use "./swiper";

.main {
	padding: 150px 0;

	.contents {
		overflow-x: hidden;

		.wraping {
			&:not(:first-child) {
				margin-top: 150px;
			}
		}
	}

	@include breakpoints.xl {
		padding: 40px 0 80px;

		.contents {
			.wraping {
				&:not(:first-child) {
					margin-top: 80px;
				}
			}
		}
	}
}

.glance {
	&__scroll {
		margin: 0 -70px;
		overflow: hidden;

		.glance {
			&__list {
				overflow-x: scroll;
				padding: 0 70px;
			}

			&__item {
				flex: none;
				max-width: 1008px;

				.roundBox {
					aspect-ratio: 1;
					//flex: 0.754 1 0%;
					flex: 0.626 1 0%;
				}
			}

			&__contents {
				position: relative;
			}

			&__year {
				margin-left: -160px;
			}
		}
	}

	&__list {
		column-gap: 140px;
		display: flex;
	}

	&__item {
		align-items: flex-end;
		column-gap: 60px;
		display: grid;
		//grid-template-columns: 57.54% 1fr;
		grid-template-columns: 50.88% 1fr;

		.roundBox {
			img {
				height: 100%;
				width: 100%;
			}
		}
	}

	&__year {
		color: rgb(0 0 0 / 10%);
		font-size: 120px;
		font-weight: 800;
	}

	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.25;
	}

	&__desc {
		line-height: 1.625;
		margin-top: 20px;
	}
}

.award {
	$white: #fff;

	&__title {
		font-size: 26px;
		font-weight: 800;
		margin-bottom: 28px;
	}

	&__desc {
		line-height: 1.625;
	}

	&__item {
		display: grid;
		grid-template-columns: 77px 1fr;
		line-height: 1.875;
	}

	.tab {
		&__panel {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			height: 720px;
			overflow-y: auto;
			padding: 60px 80px 55px;

			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					background-image: url("../images/bg_award0#{$i}.jpg");
				}
			}

			&:nth-child(2),
			&:nth-child(4) {
				color: $white;
			}

			&:nth-child(6) {
				background-color: #ffe5fe;
			}

			.bullet {
				&__item {
					&--square {
						&::before {
							background-color: $white;
						}
					}
				}
			}
		}

		.roundBox {
			clip-path: inset(0 round 28px);
		}
	}
}

.prologue {
	&__more {
		column-gap: 20px;
		display: flex;
		margin-top: 20px;

		.prologue {
			&__button {
				align-items: center;
				background-color: #fafafa;
				column-gap: 16px;
				display: flex;
				flex: 1;
				padding: 40px 50px;
				text-align: left;

				span {
					align-items: center;
					background-color: #fff;
					border-radius: 100%;
					display: flex;
					height: 50px;
					justify-content: center;
					margin-left: auto;
					width: 50px;
				}
			}
		}

		.roundBox {
			clip-path: inset(0 round 40px);
		}
	}
	@include breakpoints.sm {
		&__more {
			flex-direction: column;
		}
		&__button:not(:first-child) {
			margin-top: 8px;
		}
	}
	@include breakpoints.xs {
		&__more {
			flex-direction: column;
		}
		&__button:not(:first-child) {
			margin-top: 8px;
		}
	}
}

.kv {
	&__container {
		color: #fff;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: flex-end;
		padding: 0 55.5px 46px;
		position: relative;
	}

	&__video {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;

		video {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&__title {
		align-items: center;
		display: grid;
		font-size: 7.03vw;
		font-weight: 800;
		gap: 16px 24.64vw;
		grid-template-columns: repeat(2, auto);
		letter-spacing: -0.04em;
		line-height: 1.105;
		position: relative;

		.kv {
			&__text {
				font-size: 1.88vw;
				grid-column: 1 / 3;
				letter-spacing: 0;
			}
		}

		.anniversary {
			bottom: 0;
			height: 13.02vw;
			left: 34.84vw;
			position: absolute;
			width: 19.22vw;
		}
	}
}

.intro {
	background-color: #042d22;

	&.active {
		.intro {
			&__legend {
				transform: scale(1.6189);
				transition-delay: 1000ms;
			}

			&__logo {
				left: 50%;
				transform: translateX(-50%) translateY(0) scale(8.8586);
				transition-delay: 1000ms;
			}
		}
	}

	&__container {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

	&__figure {
		align-items: flex-end;
		display: flex;
		position: relative;
	}

	&__legend {
		height: 334px;
		position: relative;
		transform: scale(1);
		transition-duration: 460ms;
		transition-property: transform;
		transition-timing-function: ease-in-out;
		width: 328px;
		z-index: 1;

		img {
			height: 100%;
			width: 100%;
		}
	}

	&__logo {
		background: url("../images/logo_old.svg") no-repeat 0 0 / 100% 100%;
		height: 26px;
		left: 0;
		position: absolute;
		transform: translateX(117px) translateY(-58px) scale(1);
		transition-duration: 460ms;
		transition-property: transform, left;
		transition-timing-function: ease-in-out;
		width: 198px;
	}
}

// @keyframes introLegend {
// 	0% {
// 		transform: scale(1);
// 	}

// 	100% {
// 		transform: scale(1.6189);
// 	}
// }

.history {
	$white: #fff;
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1.316fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
			"sales rnd"
			"sales person"
			"fund person";
	}
	&__item {
		position: relative;
		box-sizing: border-box;
		padding: 60px;
		border-radius: 40px;

		&:nth-child(1) {
			grid-area: sales;
			background-color: #12c139;
		}
		&:nth-child(2) {
			grid-area: rnd;
			background-color: #f78806;
		}
		&:nth-child(3) {
			grid-area: fund;
			background-color: #0694f7;
		}
		&:nth-child(4) {
			grid-area: person;
			background-color: #fdc300;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		color: $white;
	}
	&__decs {
		color: $white;
	}
	&__emphasis {
		font-size: 40px;
		font-weight: 700;
		color: $white;
		strong {
			font-size: 80px;
			font-weight: 800;
		}
	}
	&__lottie {
		&--bottom {
		}
		&--left {
			// position: absolute;
			// top: 0;
			// left: 0;
		}
	}

	@include breakpoints.sm {
		&__list {
			display: block;
		}
	}
	@include breakpoints.xs {
		&__list {
			display: block;
		}
	}
}

.archive {
	&__swiper {
		&:not(:first-child) {
			margin-top: 20px;
		}

		.swiper {
			&-wrapper {
				transition-timing-function: linear !important;
			}
			&-slide {
				position: relative;
				height: 304px;
				width: 304px;
				cursor: pointer;
				img {
					height: 100%;
					width: 100%;
				}
				&:hover {
					.swiperLayer {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						padding: 40px 40px 30px 40px;
						background: #8dc63f;
						color: #fff;
					}
				}
			}
		}
		.roundBox {
			clip-path: inset(0 round 32px);
		}
	}
}

.event {
	&__box {
		padding: 80px;
		background: #f2f2f2;
	}
	&__btnBox {
		text-align: center;
	}
}

.btn {
	width: 165px;
	height: 50px;
	line-height: 50px;
	border-radius: 100px;
	color: #fff;
	font-weight: 700;
	&--black {
		background: #000;
	}
}
